/** Admin Style **/

.layf-columns {

}

.layf-columns::after {
    clear: both;
    content: "";
    display: table;
}

.layf-columns .layf-form { width: 90%; }
.layf-columns .layf-sidebar { width: 100%; }

@media screen and (min-width: 980px) {
	.layf-columns  .layf-form {
		float: left;
		width: -webkit-calc(100% - 315px);
		width: calc(100% - 315px);
		max-width: 800px;
	}

	.layf-columns .layf-sidebar {
		float: left;
		width: 280px;
		margin-left: 35px;
		padding-top: 61px;
	}
}


#itv-card {
	max-width: 280px;	
	background: #f9f9f9;
	padding: 10px;
}

#itv-card .itv-logo {
	width: 160px;
	padding: 5px;
}

#itv-card .itv-logo img {
	max-width: 100%;
	height: auto;
}

#itv-card .itv-logo a { display: block; }
#itv-card p:last-child { margin-bottom: 0; }